.activities-page-container {
  border: 1px solid gray;
  width: 100%;
  max-width: 800px;
  margin-left: 20px;
  .activities-title-container {
    display: flex;
    justify-content: center;    
    width: 100%;
    max-width: 800px;
    .activities-title {
      text-decoration: underline;
    }
  }
  .activities-container {    
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    width: 100%;
    max-width: 800px;    
    .hero-container {
      width: 100%;      
      overflow: scroll;
      .hero {
        object-fit: cover;
        width: 100%;
      }
    }
    .activity-items-container {
      width: 100%;
      height: 100vh;
      overflow: scroll;    
    }
  }
}