.activities-container {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  -webkit-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
  .hero-container {
    width: 100%;
    height: 500px;
    overflow: scroll;
    .hero {
      width: 100%;
    }
  }
  .activity-items-container {
    width: 100%;
    height: 100vh;
    overflow: scroll;    
  }
}