
.reg-form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  position: absolute;
}
.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 225px;
  width: 100%;
  max-width: 500px;
  padding-bottom: 100px;
  padding-top: 100px;  
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.submit-button {
  margin-top: 15px;
}

/* .input-field.firstname {
  
}
.input-field.lastname {

}
.input-field.email {
  
}
.input-field.password {
  
} */