.header-container {    
  background: url('../../../public/images/denim-background.png') repeat 0 0;  
  background-size: 6% 110%;
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  .logo-container {
    border: 2px solid red;
  }
  .username-container {
    border: 2px solid red;
  }
}

@media only screen and (max-width: 450px) {
  .header-container {
    background-size: 25% 110%;
  }
} 