.side-nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;  
  border-right: 1px solid gray;
  .nav-link-container {
    padding: 0;
    margin: 0;
    .nav-title-container {
      display: flex;
      justify-content: center;
      background-color: aliceblue;
    }
    .nav-title {
      text-decoration: underline;
    }
    .nav-link {
      background-color: white;
      border-top: 1px solid gray;
      list-style-type: none;
      padding: 20px;
      text-decoration: none;
      color: black;
    }
    .nav-link.create {
      background-color: aliceblue;
      border: 1px solid black; // TODo: better styles here.
    }
    .nav-link.last-item {
      border-bottom: 1px solid gray;
    }
  }
}