.user-feed-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  align-items: center;
  overflow: scroll;
  width: 100%;
  max-width: 400px;
  .feed-title {
    text-decoration: underline;
  }
  .store-container {
    margin: 20px;  
  }
}

.user-feed-container.main-feed {
  max-width: 900px;
  margin:0 auto;
}

.user-feed-container.side-bar {
  overflow-x: hidden;
  height: 1000px;
}