.user-feed-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  align-items: center;
  overflow: scroll;
  border-left: 1px solid gray;
  .feed-title {
    text-decoration: underline;
  }
  .store-container {
    margin: 20px;  
  }
}